<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t(:title_email) %></h1>
    <p>
      <%= t(:thanks_email) %>
      <%=  @email_newsletter.email %>
      <br>
    </p>
    
    <p> <%= t(:message_email) %> </p>
  </body>
</html>