<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to test_micolet.com</h1>
    <p>
      GRACIAS POR SUSCRIBIRTE: <%= @email_newsletter.email %>.<br>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>