.center {
  text-align: center; 
}

.margin-top {
  margin-top: 5%;
}

.box-suscribe {
  margin: 5% 20%;
  border-radius: 25px;
  padding: 2% 0;
  box-shadow: 4px 7px 10px;
  background-color: rgb(211, 216, 218);
}

.box-index {
  display: inline-flex; 
  width: 50%;
}

.btns-index {
  margin: 0 4%;
}

.notice {
  color: green;
}

.custom-container {
  padding: 5%;
}

.confirm-box {
  
  background-image: url('https://media.istockphoto.com/id/1181871089/es/vector/guirnalda-con-banderas-1.jpg?s=1024x1024&w=is&k=20&c=8BICJCZKG2u1-Pl39B7UIXdQXjXIUuA1qh9oNrJLmOk=');
  width: 100%;
  height: 800px;
}