.center {
  text-align: center; 
}

.margin-top {
  margin-top: 5%;
}

.box-suscribe {
  margin: 5% 20%;
  border-radius: 25px;
  padding: 2% 0;
  box-shadow: 4px 7px 10px;
  background-color: rgb(211, 216, 218);
}

.box-index {
  display: inline-flex; 
  width: 50%;
}

.btns-index {
  margin: 0 4%;
}

.notice {
  color: green;
}

.custom-container {
  padding: 5%;
}